{% block footer %}
<footer>
    <div class="footer_group">
        <div class="left_footer">
            <p>Design by eddie75espinoza²</p>
        </div>
        <div class="center_footer">
            <img class="logo_footer_marvel" src="{{ url_for('.static', filename='img/pngegg.png') }}" alt="">        
            <img class="logo_footer_dc" src="{{ url_for('.static', filename='img/logoe256blue.png') }}" alt="">        
            <img class="logo_footer_dc" src="{{ url_for('.static', filename='img/pngegg (3).png') }}" alt="">
        </div>
        <div class="right_footer">
            <p>© 2020 DC Entertainment | ©2021 MARVEL</p>
        </div>
    </div>
</footer>
{% endblock footer %}